<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Padkaka 後台登入</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
            rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script
            src="/padkaka/assets/js/Globallib.js"></script>
    </head>
    <body>

        <%- body %>

    </body>

<%- script%>

</html>
