<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Padkaka</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        rel="stylesheet">
    <link href="/padkaka/assets/css/sb-admin-2.css"
        rel="stylesheet">
    <link href="/padkaka/assets/css/lightbox.css"
        rel="stylesheet">
</head>
<body>
    <div id="container">
        <%- include("components/Navbar") %>

        <%- body %>
    </div>

</body>

    <script
        src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script
        src="/padkaka/assets/js/sb-admin-2.js"></script>
    <script
        src="/padkaka/assets/js/lightbox-plus-jquery.min.js""></script>
    <script
        src="//cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
    <script
        src="/padkaka/assets/js/Globallib.js"></script>
<%- script%>

</html>
